@import "header/header_main.scss";
@import "main/main.scss";
@import "footer/main.scss";


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #ffffff;
}

html {
  height: 4707px;
  width: 100%;
}

body {
  margin: 0 auto;
  max-height: 4707px;
  width: 100%;
  min-width: 750px;

}
