@import "header.scss";
@import "main-content.scss";
#portfolio{
margin: 0 auto;
  min-height: 1406px;
  padding-top: 89px;
  background-color: #f3f3f3;
}
.block-content{
  margin: 0 auto;
  height: 100%;
  max-width: 1110px;

  }
